<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <p class="row">
            <span class="label">Name</span><span class="field">
                <%= application.fullname %>
            </span>
        </p>
        <p class="row">
            <span class="label">Date</span><span class="field">
                <%= application.date %>
            </span>
        </p>
        <p class="row">
            <span class="label">Natioality</span><span class="field">
                <%= application.nationality %>
            </span>
        </p>

    </div>
</section>