<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
				<h1>Volare eVisa Portal</h1>
				<h2>Apply for your visa in 3 simple steps</h2>
				<ul class="visa-steps">
					<li>Complete the application form</li>
					<li>Pay the visa fee</li>
					<li>Receive your evisa</li>
				</ul>
				<div class="d-flex">
					<a href="/apply" class="btn-get-started scrollto">Apply</a>
				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img">
				<img src="" class="img-fluid" alt="">
			</div>
		</div>
	</div>

</section><!-- End Hero -->
